.better {
    padding-top: 160px;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 356px;
        height: 151px;
        left: -100px;
        top: 140px;
        background-image: url("../../icons/better__vector.svg");
    }
    &__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100px;
            height: 445px;
            left: -60px;
            top: 20;
            background-image: url("../../icons/better__mask.svg");
        }
    }

    &__left-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 24px;
    }

    &__title {
        width: 467px;
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
        text-align: start;
        color: $dark__navy;
    }

    &__texts {
        width: 573px;
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: start;
        color: $dark__navy;
    }

    &__button {
        @include button;
    }

    &__img-vector {
        border-radius: 50%;
    }
}
@media (max-width: 1024px) {
    .better {
        padding-top: 128px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 348px;
            height: 151px;
            left: 0;
            top: 80px;
            background-image: url("../../icons/better__vector-mb.svg")
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 56px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 100px;
                height: 445px;
                left: 0;
                bottom: 250px;
                background-image: url("../../icons/better__mask.svg");
            }
        }

        &__left-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }

        &__title {
            width: 467px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14px;
            text-align: center;
            color: $dark__navy;
        }

        &__texts {
            width: 573px;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            color: $dark__navy;
        }

        &__button {
            @include button;
        }

        &__img-vector {
            border-radius: 50%;
        }
    }
}

@media (max-width: 767px) {
    .better {
        padding-top: 120px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 348px;
            height: 151px;
            left: 0;
            top: 110px;
            background-image: url("../../icons/better__vector-mb.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 56px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                display: none;
                width: 95px;
                height: 445px;
                right: 0;
                bottom: 260px;
                background-image: url("../../icons/mask_tb.svg");
            }
        }

        &__left-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }

        &__title {
            width: 100%;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            text-align: center;
            color: $dark__navy;
        }

        &__texts {
            width: 100%;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            color: $dark__navy;
        }

        &__button {
            @include button;
        }

        &__img-vector {
            width: 311px;
            border-radius: 50%;
        }
    }
}
