.card {
    margin-top: 120px;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    &__boxes {
        width: 100%;
        padding-top: 36px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $snow;
    }

    &__mini-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    &__titles {
        margin-bottom: 16px;
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07px;
        color: $dark__navy;
    }

    &__texts {
        margin-bottom: 16px;
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        color: $dark__navy;
    }

    &__buttons {
        padding: 12px 67px;
        color: $white;
        background-color: $yellow;
        cursor: pointer;
        border: 1px solid transparent;
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        &:active {
            transition: all 100ms ease;
            background-color: $white;
            color: $yellow;
            border: 1px solid $yellow;
        }
    }
}
@media (max-width: 1024px) {
    .card {
        margin-top: 120px;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }

        &__boxes {
            width: 100%;
            padding-top: 36px;
            padding-bottom: 32px;
            padding-left: 32px;
            padding-right: 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $snow;
        }

        &__mini-boxes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

        &__titles {
            margin-bottom: 16px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07px;
            color: $dark__navy;
        }

        &__texts {
            margin-bottom: 16px;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $dark__navy;
        }

        &__buttons {
            padding: 12px 67px;
            color: $white;
            background-color: $yellow;
            cursor: pointer;
            border: 1px solid transparent;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            &:active {
                transition: all 100ms ease;
                background-color: $white;
                color: $yellow;
                border: 1px solid $yellow;
            }
        }
    }
}
@media (max-width: 767px) {
    .card {
        margin-top: 145px;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }

        &__boxes {
            width: 100%;
            padding-top: 36px;
            padding-bottom: 32px;
            padding-left: 32px;
            padding-right: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $snow;
        }

        &__mini-boxes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__titles {
            width: 100%;
            margin-bottom: 16px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.8px;
            text-align: center;
            color: $dark__navy;
        }

        &__texts {
            width: 100%;
            margin-bottom: 16px;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            color: $dark__navy;
        }

        &__buttons {
            padding: 12px 61px;
            color: $white;
            background-color: $yellow;
            cursor: pointer;
            border: 1px solid transparent;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            &:active {
                transition: all 100ms ease;
                background-color: $white;
                color: $yellow;
                border: 1px solid $yellow;
            }
        }
    }
}
