
@media (max-width: 767px) {
    .header {
        box-shadow: rgba(252, 182, 43, 0.753) 0px 5px 15px;
        padding-top: 22px;
        padding-bottom: 22px;
        &__container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        &__test-button {
            opacity: 0;
            display: block;
            border: none;
            outline: none;
        }
        &__test-button-icon {
        }
        &__left-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__nav {
            display: none;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__lists {
            display: none;
        }
        &__links {
            display: none;
        }
        &__link-texts {
            display: none;
        }
        &__button {
            display: none;
        }
        &__open-burger {
            display: block;
            border: none;
            outline: none;
            background: none;
        }
        &__open-burger-icon {
        }
        &__close-burger {
            display: none;
            border: none;
            outline: none;
            background: none;
        }
        &__close-burger-icon {
        }
        &__mb-div {
            opacity: 1;
            transition: 500ms all ease;
            z-index: 3;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 73px;
            backdrop-filter: blur(5px);
            background-color: rgb(0, 0, 0, 0.5);
        }
        &__nav-mb {
            transition: 500ms all ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            padding: 64px 32px 104px 32px;
            z-index: 3;
            position: fixed;
            top: 0;
            left: 0;
            width: 85%;
            height: 100vh;
            background-color: $dark__gray;
        }
        &__list-mb {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 24px;
        }
        &__lists-mb {
            display: block;
        }
        &__links-mb {
            display: block;
        }
        &__links-texts-mb {
            display: block;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $white;
        }
        &__mb-button {
            @include button;
            display: block;
        }
    }
}
