.hero {
    display: block;
    z-index: 2;
    padding-top: 153px;
    padding-bottom: 152px;
    position: relative;
    background-image: url("../../images/hero_back-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 234px;
        height: 62px;
        bottom: 40px;
        right: 91px;
        background-image: url("../../icons/three_rounds.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    &::before {
        display: block;
        z-index: -1;
        position: absolute;
        content: "";
        display: inline-block;
        width: 203px;
        height: 15px;
        left: -100px;
        top: 337px;
        background-image: url("../../icons/left_yellowpath.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: relative;
        &::before {
            display: block;
            z-index: -1;
            position: absolute;
            content: "";
            display: inline-block;
            width: 452px;
            height: 151px;
            right: 500px;
            top: 184.3px;
            bottom: 54px;
            background-image: url("../../icons/right_yellowpath.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__right-box {
        display: block;
        width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 40px;
    }

    &__title {
        color: $white;
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
    }

    &__mini-box {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    &__text {
        width: 405px;
        margin-bottom: 40px;
        font-family: "Lexend Deca";
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        color: $white;
    }

    &__btn {
        @include button;
    }
}
@media (max-width: 767px) {
    .hero {
        display: block;
        z-index: 2;
        padding-top: 153px;
        padding-bottom: 152px;
        position: relative;
        background-image: url("../../images/hero_back-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        &::after {
            display: none;
            position: absolute;
            content: "";
            display: inline-block;
            width: 234px;
            height: 62px;
            bottom: 40px;
            right: 91px;
            background-image: url("../../icons/three_rounds.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        &::before {
            display: none;
            z-index: -1;
            position: absolute;
            content: "";
            display: inline-block;
            width: 203px;
            height: 15px;
            left: -100px;
            top: 337px;
            background-image: url("../../icons/left_yellowpath.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            position: relative;
            &::before {
                display: none;
                z-index: -1;
                position: absolute;
                content: "";
                display: inline-block;
                width: 452px;
                height: 151px;
                right: 500px;
                top: 184.3px;
                bottom: 54px;
                background-image: url("../../icons/right_yellowpath.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &__right-box {
            display: none;
            width: 480px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: 40px;
        }

        &__title {
            color: $white;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -2.5px;
        }

        &__mini-box {
            display: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

        &__text {
            width: 405px;
            margin-bottom: 40px;
            font-family: "Lexend Deca";
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            color: $white;
        }

        &__btn {
            @include button;
        }
    }
}
