.join {
    padding-top: 120px;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 741px;
        height: 151px;
        right: 0px;
        top: 330px;
        background-image: url("../../icons/careers__vector.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 40px;
            height: 445px;
            right: 0;
            top: 20;
            background-image: url("../../icons/mask_pc.svg");
        }
    }

    &__left-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 24px;
    }

    &__title {
        width: 467px;
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.43px;
        text-align: start;
        color: $dark__navy;
    }

    &__texts {
        width: 573px;
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: start;
        color: $dark__navy;
    }

    &__button {
        @include button;
    }

    &__img-vector {
        border-radius: 50%;
    }
}
@media (max-width: 1024px) {
    .join {
        padding-top: 144px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 735px;
            height: 151px;
            right: 0;
            top: 340px;
            background-image: url("../../icons/careers__vector-tb.svg");
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 56px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 95px;
                height: 445px;
                right: 0;
                bottom: 260px;
                background-image: url("../../icons/mask_tb.svg");
            }
        }

        &__left-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }

        &__title {
            width: 467px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14px;
            text-align: center;
            color: $dark__navy;
        }

        &__texts {
            width: 573px;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            color: $dark__navy;
        }

        &__button {
            @include button;
        }

        &__img-vector {
            border-radius: 50%;
        }
    }
}

@media (max-width: 767px) {
    .join {
        padding-top: 72px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 349px;
            height: 151px;
            right: 0;
            top: 242px;
            background-image: url("../../icons/careers__vector-mb.svg");
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 56px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                display: none;
                width: 95px;
                height: 445px;
                right: 0;
                bottom: 260px;
                background-image: url("../../icons/mask_tb.svg");
            }
        }

        &__left-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }

        &__title {
            width: 100%;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            text-align: center;
            color: $dark__navy;
        }

        &__texts {
            width: 100%;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            color: $dark__navy;
        }

        &__button {
            @include button;
        }

        &__img-vector {
            border-radius: 50%;
        }
    }
}
