@media (max-width: 767px) {
    .message {
        margin-top: 72px;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__title {
        }

        &__text {
        }

        &__button {
        }
    }
}
