$white: #ffffff;
$black: #000000;
$yellow: #fcb72b;
$dim__gray: #939caa;
$dark__navy: #495567;
$dark__gray: #333a44;
$light_gray: #e5ecf4;
$snow: #f2f5f9;
$light_yellow: #fff4df;
$some__yellow: #FCB72B26;
